<!DOCTYPE html>
<html>

<head>
    <title>Edit Tasks Page</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <form method="POST">
        <div class="form-group">
            <label for="executorName">Name</label>
            <input name="name" type="name" class="form-control" id="name" value="{{task.executorName}}">
        </div>
        <div class="form-group">
            <label for="executorTask">Task</label>
            <input name="task" class="form-control" id="task" value="{{task.task}}">
        </div>
        <button type="submit" class="btn btn-primary" value="Send">Save Changes</button>
    </form>
    <form method="GET" action="/delete/{{task._id}}">
    <button type="submit" class="btn btn-primary" value="Send">Delete</button>
    </form>
</body>

</html>